Repository team-fusionx/CarND-Capstone, pull requests merged in 2018-03, with the labels that each got.

#30 Add local closest_waypoint search
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#31 Visualization: Apply dynamic reconfigure params to vis_node
  ros/src/visualization/CMakeLists.txt
  ros/src/visualization/cfg/DynReconf.cfg
  ros/src/visualization/launch/vis_node.launch
  ros/src/visualization/package.xml
  ros/src/visualization/vis_node.py
Labels: Visualization

#34 First Pass at stopping at lights with simple deceleration
  ros/src/waypoint_loader/waypoint_loader.py
  ros/src/waypoint_updater/cfg/DynReconf.cfg
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#33 Waypoint Follower: Search for closest waypoint to current pose
  ros/src/waypoint_follower/include/pure_pursuit_core.h
  ros/src/waypoint_follower/src/pure_pursuit_core.cpp
Labels: Waypoint Follower

#43 Visualization: Change visualization base wp path from continuous to single latched publish
  ros/src/visualization/vis_node.py
Labels: Visualization

#47 Fix local closest_waypoint search
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#46 Teeekay jmtd
  ros/src/waypoint_updater/cfg/DynReconf.cfg
  ros/src/waypoint_updater/jmt.py
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#48 tl logging - Issue #45
  ros/src/tl_detector/tl_detector.py
Labels: enhancement

#52 Fixes for waypoint_updater
  ros/src/waypoint_updater/jmt.py
  ros/src/waypoint_updater/launch/waypoint_updater.launch
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#58 Meenunat gt classifer
  ros/src/tl_detector/tl_detector.py
Labels: enhancement

#65 Add parameter to easily disable TL classifier for testing
  ros/src/tl_detector/tl_detector.py
Labels: TL Detection

#61 Add low pass filter to DBW throttle and brake commands to prevent large, rapid actuations
  ros/src/twist_controller/cfg/DynReconf.cfg
  ros/src/twist_controller/twist_controller_mod.py
Labels: DBW

#69 DBW: Tweaks to split throttle/brake LPF tau and initialize from 0
  ros/src/twist_controller/lowpass.py
  ros/src/twist_controller/twist_controller_mod.py
Labels: DBW

#64 Teeekay recalculate
  ros/src/waypoint_updater/cfg/DynReconf.cfg
  ros/src/waypoint_updater/launch/waypoint_updater.launch
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#70 Waypoint Updater: Reduce # of waypts and set init ptr back to 0
  ros/src/waypoint_updater/cfg/DynReconf.cfg
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater
