Repository team-fusionx/CarND-Capstone, pull requests merged in 2018-04, with the labels that each got.

#71 TL Detector: Fix occasional crash and rename classifier switch
  ros/src/tl_detector/tl_detector.py
Labels: TL Detection

#67 Waypoint Follower: Fix lookahead waypoint for test lot tight turns
  ros/src/waypoint_follower/include/pure_pursuit_core.h
  ros/src/waypoint_follower/src/pure_pursuit_core.cpp
Labels: Waypoint Follower

#68 Add ROS launch file for styx simulator track 2
  ros/launch/styx_track2.launch
Labels: Testing

#76 Waypoint Follower: Fix negative target velocity
  ros/src/waypoint_follower/src/pure_pursuit_core.cpp
Labels: Waypoint Follower

#75 Teeekay max v fix
  ros/src/waypoint_updater/cfg/DynReconf.cfg
  ros/src/waypoint_updater/jmt.py
  ros/src/waypoint_updater/launch/waypoint_updater.launch
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#78 Waypoint Updater: Reduce /rosout load from JMT profile log
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#79 Waypoint Updater: Fix crash if get_closest_wp() called while wp's are appending
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#81 Fix state change warnings
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#80 Visualization: Update RViz and RQT visualizations
  ros/launch/styx.launch
  ros/launch/styx_track2.launch
  ros/src/visualization/CMakeLists.txt
  ros/src/visualization/cfg/DynReconf.cfg
  ros/src/visualization/launch/vis_node.launch
  ros/src/visualization/launch/vis_node_site.launch
  ros/src/visualization/launch/vis_node_styx.launch
  ros/src/visualization/package.xml
  ros/src/visualization/rqt_basic.perspective
  ros/src/visualization/rqt_multiplot_basic.xml
  ros/src/visualization/rviz_site_churchlot.rviz
  ros/src/visualization/rviz_styx_track1.rviz
  ros/src/visualization/vis_node.py
Labels: Visualization

#77 TL Detector: Implement KDTree closest waypoint search
  ros/src/tl_detector/tl_detector.py
Labels: TL Detection

#82 Visualization: Make separate RQT multiplot files for Sim/Carla
  ros/src/visualization/rqt_basic.perspective
  ros/src/visualization/rqt_multiplot_carla_bag.xml
  ros/src/visualization/rqt_multiplot_simulation.xml
Labels: Visualization

#83 Fix closest_waypoint local search deal with end of track issues
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#85 Adjust accel_rate to keep jerk below max value in decel/accel scenario
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#88 DBW: Try modifications for avoiding slowdown throttle bump
  ros/src/twist_controller/twist_controller_mod.py
Labels: DBW

#92 Teeekay desired jerk slowdown
  ros/src/waypoint_updater/jmt.py
  ros/src/waypoint_updater/launch/waypoint_updater.launch
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#93 Add DBW documentation
  README.md
  dbw_control.md
Labels: DBW

#98 Add changes from teeekay_desired_jerk_slowdown PR #96
  ros/src/waypoint_updater/cfg/DynReconf.cfg
  ros/src/waypoint_updater/jmt.py
  ros/src/waypoint_updater/launch/waypoint_updater.launch
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#102 Add searchback and Tmin on get_stopping_time and get_speedup_time
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#103 Waypoint Updater: Add reset conditions for dbw_enabled flag
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#101 TL Detector: Change log setting and use temp lists for appending
  ros/src/tl_detector/launch/tl_detector.launch
  ros/src/tl_detector/launch/tl_detector_site.launch
  ros/src/tl_detector/tl_detector.py
Labels: TL Detection

#105 Waypoint Updater: Reduce max_desired_jerk to 0.5 m/s^3
  ros/src/waypoint_updater/launch/waypoint_updater.launch
Labels: Waypoint Updater

#106 Update README to remove construction image
  README.md
Labels: Documentation

#109 Lower decel rate in get_min_stopping_distance
  ros/src/waypoint_updater/cfg/DynReconf.cfg
  ros/src/waypoint_updater/launch/waypoint_updater.launch
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#110 TL detection: updated the condition to update wp
  ros/src/tl_detector/tl_detector.py
Labels: TL Detection

#111 Set updater to hold car in place until it receives first TL msg
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#112 updated initial state for tl_detector
  ros/src/tl_detector/tl_detector.py
Labels: TL Detection

#119 DBW: Reduce brake LPF tau for faster release
  ros/src/twist_controller/twist_controller_mod.py
Labels: DBW

#118 Teeekay abs max jerk to 6
  ros/src/twist_controller/twist_controller_mod.py
  ros/src/waypoint_updater/cfg/DynReconf.cfg
  ros/src/waypoint_updater/launch/waypoint_updater.launch
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#120 DBW: Tweak throttle/brake gains and decel threshold
  ros/src/twist_controller/cfg/DynReconf.cfg
  ros/src/twist_controller/twist_controller_mod.py
Labels: DBW

#123 DBW: Increase steering LPF tau smoothing
  ros/src/twist_controller/twist_controller_mod.py
Labels: DBW

#121 Add recursive improve_min_stopping_distance
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater

#124 update state count logic
  ros/src/tl_detector/tl_detector.py
Labels: enhancement

#125 Add progressive search in improve_min_stopping_distance. Refine logging
  ros/src/waypoint_updater/jmt.py
  ros/src/waypoint_updater/waypnt_updater.py
Labels: Waypoint Updater
